.scope-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  width: 100%;
}
.scope-container h2{
  margin-bottom: 15px;
}
.packages-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  
  background: #fff;
}

.packages-table th, .packages-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.packages-table th{
  padding: 15px;
  
}
.packages-table input,
.packages-table select,
.packages-table textarea {
border: none;
outline: none;
  width: 100%;
  padding: 8px;
}
.extras {
  margin-top: 20px;
}

.extras label {
  display: block;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .packages-table table, 
  .packages-table thead, 
  .packages-table tbody, 
  .packages-table th, 
  .packages-table td, 
  .packages-table tr {
    display: block;
  }

  .packages-table td {
    padding: 10px 0;
  }

  .packages-table td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }
}

.descBox{
  font-size: 13.7px !important;
  padding-bottom: 100px !important;
}
.toggle-container {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

/* Hide default checkbox */
.toggle-container input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

/* Slider background */
.slider {
  position: relative;
  width: 44px;
  height: 22px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s ease;
}

/* Circle knob */
.slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* When checked */
.toggle-container input:checked + .slider {
  background-color: #003cff; /* active bg */
}

.toggle-container input:checked + .slider::before {
  transform: translateX(22px);
}
