/* PublishGig.css */
.publish-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  padding-top: 100px;
  width: 100%;
}

.publish-content {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
  min-height: 34vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.publish-content .form-actions{
  width: 100%;
}
.publish-content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1f4f70;
}

.publish-content p {
  font-size: 1rem;
  color: #555;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .publish-content h2 {
    font-size: 1.5rem;
  }

  .publish-content p {
    font-size: 0.9rem;
  }

}

